:root {
    --text-color-black: #2e2f42;
    --text-color-blue: #4d5ae5;
    --text-color-grey: #434455;
    --color-white: #F4F4FD;
    --color-light-blue: #e7e9fc;
    --color-grey: #8e8f99;
    --color-dark-blue: #404bbf;
}
body {
    font-family: "Roboto", sans-serif;
    Color: #434455;
    background: #FFFFFF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:0;
}
a {
    text-decoration: none;
}
img {
    display: block ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header, 
.main-nav {
    display: flex;
    align-items: center;
}

/* .add {
    display: flex; 
} */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.main-nav {
    display: flex;
    align-items: center; 
}
.header-logo {
    /* display: inline-block; */
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    margin-bottom: 16px; 
}
.header-logo-span {
    margin-right: 76px;
        color:  #2E2F42;
    }
    
.footer-logo
{       
    display: inline-block;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    margin-bottom: 16px; 
}
.footer-logo-features {
    display: inline-block;
    color: #f4f4fd;
    margin-bottom: 16px; 
    
    
}




.header-studio-logo,
.footer-studio-logo {
    color:  #2E2F42;
}

.menu {
    display: flex; 
    gap: 40px;

}
.header-contacts-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
padding: 24px 0;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}
.address-link-address {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.address {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.link {
    text-decoration: none;
    display: inline-block;
}
.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.hero {
    background-image:url('../images/icons/hero-fone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: auto;
    background-color: #2e2f42;

}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
    max-width: 496px;
}
.hero-button {
    color:  #FFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    display: block; 
    max-width: 169px;
    height: 56px ;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--text-color-blue);
    border-radius: 4px;
    margin: 0 auto;

}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    background-color: #404bbf;
}


.features  {
    padding: 120px 0;
}
.features-strategy {
}

.features-list {
    display: flex; 
    gap: 24px; 
}
.features-list-inside {
    width: calc((100% - 72px) / 4); 
}
.company__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--color-cloud);
    margin-bottom: 8px;
  }
.features-header {
    font-family: "Roboto";
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}
.features-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-content {
    background-color: #F4F4FD;
    padding: 120px 0
}
.our-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-team-title {
    margin-bottom: 72px; 
}
.our-team-list {
    display: flex; 
    gap: 24px;
}

.team__list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .team__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.team__link-icon:hover,
.team__link-icon:focus {
  background-color: var(--color-ocean);
}
.team__icon {
    fill: var(--color-cloud);
  }
  .team__item-icon {
    width: 40px;
    height: 40px;
  }
.our-team-item {
    width: calc((100% - 72px) / 4); 
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.info-member {
    padding: 32px 0 ;
}
.card-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    text-align: center; 
    margin-bottom: 8px;
}
.card-content {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    text-align: center;
}
.our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title-portfolio {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
}
.portfolio-list {
    display: flex ;
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px;
    padding-left: 0;
}
.portfolio-list-content {

    width: calc((100% - 48px) / 3); 
    box-sizing: content-box;
    display: inline-block;
    width: 360px;
    height: 420px;
    /* border: 1px solid #e7e9fc;  */
    border-top: none; 
    
}
.name-of-product {
    width: 360px;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    justify-content: center;
    
}
   

.project-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.project-content {
    color:  #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-footer {
    background: #2e2f42;
    padding: 100px 0;
  
}

.project-content-list {
    color: #f4f4fd;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
}

.footer__icon-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    margin-bottom: 16px;
  }

.footer__icon-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
  }

.footer__icon-item {
    width: 40px;
    height: 40px;
  }
  
.footer__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.footer__icon-link:hover,
.footer__icon-link:focus {
  background-color: var(--color-green);
}

.footer__icon {
    fill: var(--color-cloud);
  }
  
  .footer__icon-link:hover,
  .footer__icon-link:focus {
    background-color: var(--color-green);
  }

  